<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ifttt...</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/airplane.png' %}" />
</head>
<body vlink="#331558" alink="#192e68">
<h1 id="header">if this then...</h1>
<div id="menu">
        Пользователь - {{user}}<br/>
        <a href="/services/">Cервисы</a> <br/>
        {% if logged %}
        <a href="/logout?next=/">Выход</a><br/>
        {% else %}
        <a href="/login?next=/">Вход</a><br/>
        {% endif %}
        {# <a href="/about">О проекте</a><br> #}
 </div>
<div id="content">
{% block body %}
{% endblock %}
</div>
<div id="footer">
 <a href="mailto:letoveter@gmail.com">Написать</a>
</div>
</body>
</html>