{% extends "base.html" %}

{% block body %}
<h3>Настроенные сервисы:</h3>
{% if services %}

{% for service in services %}
<a href={{service.url}}> {{service.name}} </a> <a href='/services/{{service.id}}/edit'>редактировать</a> <br/>
{% endfor %}
<br/>
<a href='services/add'> Добавить новый сервис</a>
{% else %}
Нет настроенных сервисов
{% endif %}
{% endblock %}