HTML {
 #   background:  url("images/hobbit1.png");
 #  background-size: 100%;
    background-size: 100%;
    /*background-color:#f9f0e7;*/
   color:#2c2419;
}

#header{
/*background-color:#99CCCC;*/
padding: 5px; /* Поля вокруг текста */
margin: 10px 10px 20px 5px; /* Значения отступов */
}

#menu { /* Левая колонка */
/*background-color:#99CCCC;*/
float: left; /* Обтекание справа */
position: fixed; /* Фиксированное положение */
width: 200px; /* Ширина колонки */

padding: 5px; /* Поля вокруг текста */
margin: 10px 10px 20px 5px; /* Значения отступов */
}

 #content { /* Правая колонка */
margin: 10px 5px 20px 225px; /* Значения отступов */
padding: 5px; /* Поля вокруг текста */
/*background-color:#5a4c3f;*/
 }


#footer{
/*background-color:#669999;*/
position: fixed; /* Фиксированное положение */
left: 0; bottom: 0; /* Левый нижний угол */
padding: 10px; /* Поля вокруг текста */
width: 100%; /* Ширина слоя */
}